.home {
  &__wrapper {
    background-color: #7499f1;
    height: 78%;
    display: flex;
    justify-content: center;
  }
  &__carousel {
    padding-top: 20px;
    width: 80vw;
    max-height: 50vh;
    max-width: 1400px;
  }
  &__carouselItem {
    width: 100%;
    text-align: center;
    img {
        width: 100%;
        height: 50vh;
        object-fit:cover;
    }
  }
}
